* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --light-color: #eee;
  --dark-color: #333;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.column {
  flex-direction: column;
}
